.App {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.Cart {
  height: 95vh;
  width: 28%;
  overflow: auto;
  padding-top: 15px;
  position: relative;
}

.CartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-right: 5px;
  padding-left: 5px;
}

.Loading {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: center;
}

.ProductSearch {
  height: 100vh;
  width: 72%;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
}

.ProductShowcase {
  display: flex;
  height: 83%;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: flex-start;
}

.Product {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 40px;
  position: relative;
  text-align: left;
}

.Price {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: teal;
  color: white;
  padding: 5px;
}

.SearchBar {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 3%;
}

#button {
  width: 100px;
  height: 35px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
  margin-top: 15px;
}

#borderLessButton {
  border: none;
  padding: 0;
  background: none;
  font-style: italic;
  position: absolute;
  top: 40px;
  right: 20px;
  color: blueviolet;
}

borderLessButton:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#image {
  padding-bottom: 7px;
}

#searchBar {
  width: 60%;
  height: 30px;
}

#searchButton {
  width: 110px;
  height: 36px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
}

#cartItemTitle {
  width: 65%;
  text-align: left;
}