.app {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.backForward {
  width: 40px;
  height: 36px;
  margin: 20px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
  cursor: pointer;
}

.cart {
  height: 95vh;
  width: 25%;
  overflow: auto;
  padding-top: 15px;
  position: relative;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-right: 5px;
  padding-left: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loading {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.productSearch {
  height: 100vh;
  width: 75%;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
}

.productShowcase {
  display: flex;
  height: 82%;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: flex-start;
}

.product {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 40px;
  position: relative;
  text-align: left;
}

.price {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: teal;
  color: white;
  padding: 5px;
}

.searchBar {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 4%;
  margin-bottom: 3%;
}

#button {
  width: 100px;
  height: 35px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
  margin-top: 15px;
  cursor: pointer;
}

#borderLessButton {
  border: none;
  padding: 0;
  background: none;
  font-style: italic;
  position: absolute;
  top: 40px;
  right: 20px;
  color: blueviolet;
  cursor: pointer;
}

#borderLessButton:disabled {
  color: rgba(0, 0, 0, 0.4);
}

#cartItemTitle {
  width: 65%;
  text-align: left;
}

#image {
  padding-bottom: 7px;
  object-fit: contain;
  display: block;
  max-width: 220px;
  max-height: 220px;
  align-content: left;
  background-color: rgba(0, 0, 0, 0.03);
}

#searchBar {
  width: 35vw;
  height: 30px;
  text-indent: 10px;
}

#searchButton {
  width: 110px;
  height: 36px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
  cursor: pointer;
}